<table>
  <thead>
    <th>id</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Taille</th>
    <th>Poids</th>
    <th>Date de naissance</th>
    <th>Nétionalité</th>
  </thead>
  <tbody>
    <tr>
      <td>{{ joueurSelectionne.id }}</td>
      <td>{{ joueurSelectionne.firstName }}</td>
      <td>{{ joueurSelectionne.lastName }}</td>
      <td>{{ joueurSelectionne.taille }}</td>
      <td>{{ joueurSelectionne.poids }}</td>
      <td>{{ joueurSelectionne.dateNaissance }}</td>
      <td>{{ joueurSelectionne.nationalite }}</td>
    </tr>
  </tbody>
</table>